@charset "utf-8";

$primary: #1bb440;
$colorBorder: #e5e5e5;

@import "d:/wamp/www/mobile-docs/src/sass/sandal/function";

body {
  padding: 50px;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  // border: 1px solid #000;
  // overflow: hidden;

  &__child {
    width: 100px;
    height: 100px;
    background: yellow;
    margin-top: 20px;
  }
}

.bfc {
  img {
    float: left;
    width: 100px;
    // margin-right: 10px;
  }

  &__side {
    // float: left;
    width: 100px;
    height: 100px;
    background: red;
  }

  &__content {
    margin-left: 20px;
    overflow: hidden;
  }
}

.ele-1 {
  // position: relative;
  width: 200px;
  height: 200px;
  float: left;
  background: red;
}

.ele-2 {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-top: -20px;
  background: blue;
  color: #fff;
}

.throttle-test {
  width: 500px;
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
}