body {
  background: #fff;
}

.icon-container {
  color: yellow;
}

.icon-wx {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("../images/icon-wx-gray.jpg");
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.hide-ele {
  width: 200px;
  height: 200px;
  background: red;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hide-ele:hover {
  opacity: 1;
}

.hide-ele__child {
  background: yellow;
  width: 100px;
  height: 100px;
}

.hide-opacity {
  opacity: 0;
}

.hide-visibility {
  visibility: hidden;
}

.hide-display {
  display: none;
}

.hide-position {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hide-clip {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.hide-overflow {
  width: 0;
  height: 0;
  overflow: hidden;
}

.hide-transform {
  -webkit-transform: translate(-9999px, -9999px);
          transform: translate(-9999px, -9999px);
}

.hide-zIndex {
  position: relative;
  z-index: -1;
}

.hide-margin {
  margin: -9999px 0 0 -9999px;
}
